*, *:before, *:after {
  box-sizing:border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
  column-count:2;
  column-gap:1em;
  padding: 50px 225px 50px 225px;
  display: grid;
  margin: 0 auto;
  width: 100%;
  font-size:1.5em;
}

h1 {
  text-align: center;
  font-family: roboto condensed;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 25px;
}

h3 {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 18px;
}

.container {
  display: inline-block;
  background-color: #b8b8b8;
  grid-gap: 50px;
  padding-top: 40px;

}

.baku {
  height: 300px;
  background-image: url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/baku.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border-bottom: 25px solid #b8b8b8;
  display:inline-block;
}

.london {
  height: 300px;
  background-image: url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/london.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 25px solid #b8b8b8;
  display:inline-block;
}

.madrid {
  height: 300px;
  background-image: url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/madrid.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 25px solid #b8b8b8;
  display:inline-block;
}

.rome {
  height: 300px;
  background-image:url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/rome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 25px solid #b8b8b8;
  display:inline-block;
}
.preview{
  float:left;
  margin: 3%;
  padding: 2%;
  width: 40%;
  display: inline-block;
  /* width: 50%; */
  /* margin: 10px; */
}

.column {
  margin: 3%;
  width: 100%;
  column-count:2
  display:inline-block;
}

@media screen and (min-width: 575px) {
  .column {
    width: 50%;
    margin: 0 auto;
  }
}


@media screen and (min-width: 991px) {
.column {
  width: 100%;
  margin: 0 auto;
}
