* {
  box-sizing:border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
  column-count:2;
  column-gap:1em;
  padding: 50px 225px 50px 225px;
  display: grid;
  margin: 0 auto;
  width: 100%;
  font-size:1.5em;
}

h1 {
  text-align: center;
  font-family: roboto condensed;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 50px;
}

h3 {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 18px;
}

.row{
  display: inline-block;
  background-color: #b8b8b8;
  grid-gap:50px;
  padding-top:40px;
  padding-bottom:600px;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.baku {
  height: 250px;
  background-image: url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/baku.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border: 10px solid #b8b8b8;
  display:inline-block;
}

.london {
  height: 250px;
  background-image: url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/london.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid #b8b8b8;
  display:inline-block;
}

.madrid {
  height: 250px;
  background-image: url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/madrid.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid #b8b8b8;
  display:inline-block;
}

.rome {
  height: 250px;
  background-image:url(https://raw.githubusercontent.com/viviaaan143/css-exercise-four/master/images/rome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid #b8b8b8;
  display:inline-block;
}

.preview{
  /* padding: 2%; */
  width: 50%;
  display: inline-block;
}

.column {
  float:left;
  padding:20px;
  width:25%;
}

@media screen and (min-width: 575px) {
  .column {
    width: 100%;
  }
}


@media screen and (min-width: 900px) {
.column {
  width: 50%;
  }
}
